@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";

*{
  margin:0;
  padding:0;
}

h1,h2,h3,h4,h5,h6,p {
  margin:0 !important;
  padding:0;
}

h1 {
  font-size: 2em !important;
  font-family: 'Roboto';
}

input {
  border-radius: 5px;
  border: none;
  padding:0.5em;
}

input[type="submit"] {
  text-transform:uppercase;
  font-weight:400;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  margin: 1em;
  color: rgb(39, 38, 38);
}

body {
  font-size: 16px;
}
#app{
  height:80vh;
}

.AppPage{
  width: 100vw;
  height: 100%;
  background-color: rgb(238, 237, 237);
}

.header {
  text-align: center;
  color: white;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(https://i.pinimg.com/originals/80/10/bf/8010bfe96c7f44ba407082b20819b339.jpg);
  background-color: darkred;
  background-position: center;
  h1 {
    font-size: 3em !important;
  }
}

ion-icon {
  height:23px;
  width: 23px;
}
.icon-group {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.lists {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.monsterNameSection {
  display:flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;    
  align-items: center;
  h3 {
    font-size: 20px;
  }
}

.myCollection {
  width: 40%;
  height: 100%;
  padding: 2em;
  border: 1px solid lightgray;
  background-color: white;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  h1{
    text-align: center;
  }

  .hide {
    display: none;
  }

  .monsterCollectionItem {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(224, 224, 222);
    border-radius: 5px;
    background-color: white;
    p {
      text-align: center;
    }
  }

  .monsterNameSection h3 {
    color: #b23219;
  }

  .monsterNotesSection {
    text-align: center;
  }

  input[type="text"] {
    background-color: rgba(0,0,0,0.04);
  }

  input[type="submit"] {
    background-color: #ededed;
    font-size: 0.8em;
    padding:10px;
  }
}

.searchMonsters {
  width: 60%;
  padding: 2em;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgb(238, 237, 237);
  .monsterNameSection{
    border: 1px solid lightgray;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: white;
  }
  input[type="text"] {
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    width: 30%;
  }
  input[type="submit"] {
    background-color: white;
  }
}

.monsterInfo {
  position: fixed;
  width: 60%;
  height: 80vh;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 5%;
  background-color: white;

.stats-list{
  display: flex;
  text-align: center;

  .stat {
    margin: 0 5px;
  }
}
}



.NavBar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #f0f0f0;
}
