@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";

*{
  margin:0;
  padding:0;
}

h1,h2,h3,h4,h5,h6,p {
  margin:0 !important;
  padding:0;
}

body {
  font-size: 16px;
}

.header {
  text-align: center;
}

ion-icon {
  height:26px;
  width: 26px;
}

.lists {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.myCollection {
  margin: 0 5%;
  h1{
    text-align: center;
  }

  .hide {
    display: none;
  }

  .monsterCollectionItem {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid lightgray;
    p {
      text-align: center;
    }
  }

  .monsterNameSection {
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;    
  }

  .monsterNotesSection {
    text-align: center;
  }
}

.searchMonsters {
  margin: 0 5%;
}

.NavBar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #f0f0f0;
}

.HomePage {

}

.AboutPage {

}

.ContactPage{

}

.AppPage {

}
